<h1>Login</h1>
<form action="/home/Login" method="post">
    <input type="text" name="username" value="" placeholder="username" />
    <input type="text" name="password" value="" placeholder="password" />
    <button type="submit">Login</button>
</form>