<h1>Register</h1>
<form action="/home/Register" method="post">
    <input type="text" name="username" value="" placeholder="username" />
    <input type="text" name="password" value="" placeholder="password" />
    <button type="submit">Register</button>
</form>